:root{
    --branco-principal:  #FFFFFF;
    --amarelo-secundario: #FFE91F ;
    --botao-azul: #4EBFE9;
--cor-de-fundo: #383D58;
} 
body{
     background-color: var(--cor-de-fundo); 
     color: var(--branco-principal);
}
{
margin: 0;
padding: 0;
}
.principal{
    background-image: url(img/escola.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}
.contain{
    height: 100vh;
    display: grid;
}
.principal {
    background-image: url("img/Background.png");
}
<body>
    <section class="container principal">
        <h1>Com o Combo+, você pode aproveitar a Alura+ e o Alura Língua por um preço único.</h1>
        <img src="img/Combo.png" alt="O combo+ é a junção do alura+ e o alura língua">
    </section>
</body>
.container {
    height: 100vh;
}
.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container_botao{
    background-color: var(--botao-azul);
    border-radius: 20px;
    padding: lem;
    color: var(--preto-principal);
    display: block;
}
}
.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
}
.container {
    height: 100vh;
    display: grid;
}
:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
}
